:root {
  --main-font: 'Dosis', sans-serif;
  --color: rgb(115, 148, 108);
}

@keyframes rise {
  0% {transform: translateY(500%);}
  100% {transform: translateY(0);}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1.0;}
}

@keyframes grow {
  0% {transform: scale(1.0);}
  50% {transform: scale(1.1);}
  100% {transform: scale(1.15);}
}

html, body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  scroll-behavior: smooth;
}

body {
  font-family: var(--main-font);
  background-image: url(/img/background.png);
}

a {
  color: var(--color);
  text-decoration: none;
  cursor: pointer;
}

a img {
  height: 32px;
}

ul {
  display: flex;
  justify-content: space-evenly;
  padding: 5px;
}

#navbar {
  animation: fadeIn 4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.nav-item {
  position: relative;
  color: var(--color);
  font-size: 1.5em;
  font-weight: bold;
  list-style: none;
  opacity: 0.75;
}

.nav-item:hover {
  opacity: 1.0;
  cursor: pointer;
}

.nav-item::before {
  content: "";
  position: absolute;
  width: 0%;
  transition: width 300ms;
  height: 5px;
  bottom: -5px;
  background-color: var(--color);
}

.nav-item:hover::before {
  width: 100%;
}

#info {
  height: 75vh;
  text-align: center;
  margin-top: 30vh;
  line-height: 1;
  font-size: 2em;
}

.headline {
  animation: fadeIn 1s ease-in;
}

.name {
  display: flex;
  font-size: 3em;
  margin-bottom: 10px;
  justify-content: center;
}

.title {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 425px) {
  .symbol {
    display: none;
  }
}

#contact-list {
  width: 50vw;
  margin: 20px auto;
  animation: rise 2s cubic-bezier(0.55, 0.09, 0.25, 1.02);
}

.contact {
  display: flex;
  justify-content: space-around;
}

.contact:hover {
  animation: grow;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

.symbol {
  color: var(--color);
}

#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  font-size: 2rem;
  line-height: 1.5;
  text-align: center;
  padding: 30px;
}

#project-area {
  background: hsl(110deg, 16%, 89%);
  opacity: 1;
  border-top: 2px solid var(--color);
  border-bottom: 2px solid var(--color);
}

#project-prompt {
  position: relative;
  text-align: center;
  font-size: 2em;
}

#portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  min-height: 65vh;
}

.project {
  height: 75%;
}

.tooltip {
  content: '';
  position: relative;
  display: block;
  min-height: 100px;
  min-width: 80%;
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: var(--color);
  opacity: 0.5;
  visibility: hidden;
}

.tooltip::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 33%;
  border-style: solid;
  border-width: 20px;
  border-color: var(--color) transparent transparent transparent;
}

.tooltiptext {
  position: absolute;
  min-width: 100%;
  padding: 12px;
  text-align: center;
  color: black;
  font-weight: bold;
}

.project-image {
  height: 250px;
  width: 300px;
  border: 5px solid var(--color); 
  border-radius: 10px;
  box-shadow: -3px 3px 5px 3px lightslategray;
  cursor: pointer;
}

.container-item:hover > div {
  visibility: visible;
}

.scrollButton {
  position: relative;
  background: var(--color);
  left: 47%;
  bottom: -185%;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 75px;
  height: 50px;
  cursor: pointer;
  opacity: 0.8;
  border-radius: 10px;
  z-index: 1;
}

.btn-arrow {
  position: absolute;
  height: 25px;
  width: 25px;
  top: 35%;
  right: 31%;
  border-width: 5px;
  border-style: solid;
  border-color:#333 transparent transparent #333;
  transform: rotate(45deg);
}

#footer {
  position: relative;
  min-width: 100vw;
  bottom: 0;
  background-color: var(--color);
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-container:first-child {
  padding-left: 5px;
}

.footer-container:last-child {
  padding-right: 5px;
}







